<div class="card border-primary mb-3">
    
    <div class="card-body text-dark">
        

        <div class='row'> 
            <div class="my-0 text-left">
                <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/tarefas/form']">
                    Criar Tarefa
                </button>
            </div>    
            <div class=' col-md-10'>
                <input type='text'
                class="form-control"
                placeholder="Digite o título da tarefa para ser pesquisado"
                autocomplete="off" 
                [(ngModel)]="listFilter"
                />
            </div>
        </div>
        <br>
        <h5 class="card-title">Lista de tarefas</h5>
     
        <div *ngIf="tarefas?.length == 0" class="alert alert-info">
            Não há registros na base de dados.
        </div>
        <table class="table table-bordered table-striped" *ngIf="tarefas?.length>0" style="text-align: center;">
            <thead>
                <tr>                    
                    <th>Título da Tarefa</th>
                    <th>Título do Projeto</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of tarefas | filter:listFilter">
                    <td>{{ tarefa.titulo }}</td>
                    <td>{{ tarefa.projeto.titulo}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/tarefas/form', tarefa.id]"
                            class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(tarefa)'
                            class="btn btn-danger btn-sm">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador] = 'paginador'></paginator-nav>
    </div>
</div>