<div class="card border-primary mb-3">   
   
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de projetos</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/projetos/form']">
                Criar Projeto
            </button>
        </div>
        <div class='row'>
            <div class='col-md-2'>Pesquisa por título:</div>
            <div class=' col-md-4'>
                <input type='text'
                class="form-control"
                placeholder="Digite o título que se deseja pesquisar"
                autocomplete="off" 
                [(ngModel)]="listFilter"
                />
            </div>
            
        </div>
        <br>
        
        <div *ngIf="projetos2?.length == 0" class="alert alert-info">
            Não há registros na base de dados.
        </div>
        <table class="table table-bordered table-striped" *ngIf="projetos2?.length>0" style="text-align: center;">
            <thead>
                <tr>
                    <th>Título do Projeto</th>
                    <th>Previsão de Entrega</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projeto of projetos2 | filter:listFilter" >
                    <td>{{ projeto.titulo }}</td>
                    <td>{{ projeto.previsaoEntrega}}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/projetos/form', projeto.id]"
                            class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(projeto)'
                            class="btn btn-danger btn-sm">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador] = 'paginador'></paginator-nav>
    </div>
</div>